/* This file goes in the same directory with index.php, not with photos */
body { 
    color: brown;
    background-color: tan; 
   }
h1 h3 { 
    color:#381c07ff; 
    }
p {
    color: brown; 
  }
img.ImageBorder {
    border: 5px solid #555;
    padding: 1px;
    /* border-style: solid black;
    border-width: 3px; */
}
/* suggested by Grok */
/* make images responsive and fit on screen */
img {
    max-width: 100%; /* Never wider than its container */
    height: auto; /* Preserve aspect ratio */
    width: auto; /* let it scale naturaly */
}
